<!--search-->
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>


<!--card-->
<div class="container" *ngIf="weatherData">

  <!--header card-->
  <div class="upper-data">

    <img src="../assets/dia.png" *ngIf="weatherData && weatherData.temp > 15">
    <img src="../assets/landscape-1844231_1280.png" *ngIf="weatherData && weatherData.temp <= 15">

    <div class="weather-data">
      <div class="location"> {{ lastSearchedCity }} </div>
      <div class="temperature"> {{ weatherData.temp | number: '1.0-0' }}°C </div>
    </div>
    
  </div>

  <!--footer card-->
  <div class="lower-data">

    <div class="more-info-label">More Information</div>

    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/col.png" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.min_temp | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.max_temp | number: '1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind_speed}} km/h
        </div>
      </div>

    </div>

  </div>

</div>




<router-outlet></router-outlet>
